Repository JRGCr/cloudpilot: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: pnpm biome check {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm typecheck

chore: add extensive logging for debugging 500 errors
  apps/api/src/index.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/middleware/error.middleware.ts
  apps/api/src/routes/auth.routes.ts
  apps/api/src/routes/health.routes.ts
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: revert better-auth-cloudflare wrapper (causing 500 errors)
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: pass Drizzle schema to Better Auth adapter
  apps/api/src/db/schema.ts
  apps/api/src/services/auth.ts
  migrations/0005_verification.sql
Due: lint, typecheck

fix: rename seed.sql to run after table creation migrations
  migrations/9999_seed.sql
Due: none

chore: remove console.log statements for cleaner logs
  apps/api/logs/cloudflare.log
  apps/api/src/index.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/middleware/error.middleware.ts
  apps/api/src/routes/auth.routes.ts
  apps/api/src/routes/health.routes.ts
  apps/api/src/services/auth.ts
  migrations/seed.sql
  scripts/monitor-logs.sh
Due: lint, typecheck

fix: restore verbose logging and add logging rule to CLAUDE.md
  CLAUDE.md
  apps/api/logs/cloudflare.log
  apps/api/src/index.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/middleware/error.middleware.ts
  apps/api/src/routes/auth.routes.ts
  apps/api/src/routes/health.routes.ts
  apps/api/src/services/auth.ts
  biome.json
Due: lint, typecheck

fix: configure Drizzle adapter for D1 date handling
  apps/api/logs/cloudflare.log
  apps/api/src/db/schema.ts
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: upgrade Better Auth to v1.4.18 for proper D1 date handling
  apps/api/logs/cloudflare.log
  apps/api/package.json
  pnpm-lock.yaml
Due: lint

fix: migrate date columns from TEXT to INTEGER timestamps
  apps/api/logs/cloudflare.log
  apps/api/src/db/schema.ts
  migrations/0006_convert_dates_to_integer.sql
  package.json
  pnpm-lock.yaml
Due: lint, typecheck

chore: remove obsolete supportsDates config
  apps/api/logs/cloudflare.log
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: enable cross-origin cookies for OAuth state
  apps/api/logs/cloudflare.log
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: use timestamp_ms mode for millisecond precision
  apps/api/logs/cloudflare.log
  apps/api/src/db/schema.ts
Due: lint, typecheck

fix: remove explicit sameSite cookie config
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: use better-auth-cloudflare wrapper for cookie handling
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: revert better-auth-cloudflare and set explicit OAuth redirect URI
  apps/api/src/services/auth.ts
Due: lint, typecheck

fix: remove explicit OAuth callback URLs to fix cookie handling
  apps/api/src/services/auth.ts
  apps/web/src/lib/hooks.test.ts
  apps/web/src/lib/store.test.ts
  apps/web/src/lib/store.ts
Due: lint, typecheck

fix: migrate API to Pages Functions to resolve OAuth state_mismatch
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .gitignore
  MIGRATION_TO_PAGES_FUNCTIONS.md
  PAGES_ENV_SETUP.md
  apps/web/dev-pages.sh
  apps/web/functions/README.md
  apps/web/functions/api/auth/[[path]].ts
  apps/web/functions/api/health.ts
  apps/web/functions/api/logs/batch.ts
  apps/web/functions/api/users/me.ts
  apps/web/package.json
  apps/web/src/lib/config.ts
  apps/web/src/lib/logger.ts
  apps/web/wrangler.toml
  pnpm-lock.yaml
Due: lint, typecheck

feat: add enhanced error logging for /auth/error route
  apps/web/functions/api/auth/[[path]].ts
Due: lint, typecheck

fix: construct absolute URL for Better Auth client
  apps/web/src/lib/auth-client.ts
Due: lint, typecheck

feat: add auth configuration diagnostics to health endpoint
  apps/web/functions/api/health.ts
Due: lint, typecheck

fix: set Pages Functions runtime environment variables via API
  .github/workflows/deploy-production.yml
Due: none

fix: add production env vars to wrangler.toml
  apps/web/wrangler.toml
Due: none

fix: apply D1 migrations to remote production database
  .github/workflows/deploy-production.yml
Due: none

feat: add database debug endpoint
  apps/api/logs/cloudflare.log
  apps/web/functions/api/debug-db.ts
Due: lint, typecheck

feat: add detailed error logging to auth handler
  apps/web/functions/api/auth/[[path]].ts
Due: lint, typecheck

feat: add enhanced error logging to GitHub auth handler
  apps/web/functions/api/auth/[[path]].ts
Due: lint, typecheck

feat: add health check endpoint to verify Pages Functions deployment
  apps/web/functions/api/health.ts
Due: lint, typecheck

fix: enable Pages Functions deployment by including functions in build
  apps/web/package.json
  apps/web/tsconfig.functions.json
  apps/web/tsconfig.json
Due: lint

test: add simple JavaScript Pages Function to test deployment
  apps/web/functions/api/test.js
Due: lint

fix: properly copy Functions to dist directory for deployment
  apps/web/package.json
  apps/web/tsconfig.functions.json
Due: lint

feat: implement comprehensive observability and fix auth endpoints
  CLAUDE.md
  CLOUDFLARE-OBSERVABILITY.md
  OBSERVABILITY.md
  apps/api/logs/cloudflare.log
  apps/api/src/db/client.ts
  apps/api/src/index.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/middleware/error.middleware.ts
  apps/api/src/middleware/logging.middleware.ts
  apps/api/src/types/context.ts
  apps/api/src/utils/performance-logger.ts
  apps/web/functions/api/auth/[[path]].js
  apps/web/functions/api/health.ts
  auth-debug-final.json
  check-deployment.js
  packages/shared/src/logging/cloudflare-logger.js
  packages/shared/src/logging/cloudflare-logger.ts
  packages/shared/src/logging/index.ts
  packages/shared/src/logging/logger.ts
  run-auth-debug.sh
  test-auth-endpoint.js
Due: lint, typecheck

test: add simple auth test endpoint for debugging
  apps/web/functions/api/test-auth.js
Due: lint

fix: add dist functions for Pages deployment
  apps/web/dist/.vite/manifest.json
  apps/web/dist/.vite/ssr-manifest.json
  apps/web/dist/assets/index-BH4aPkMl.css
  apps/web/dist/assets/index-BUMRTCjx.js
  apps/web/dist/functions/api/auth/[[path]].js
  apps/web/dist/functions/api/health.js
  apps/web/dist/functions/api/test-auth.js
  apps/web/dist/index.html
Due: lint

fix: add Pages Functions to correct _functions directory
  dist/_functions/api/auth/[[path]].js
  dist/_functions/api/test-auth.js
  dist/_functions/hello.js
Due: lint

fix: deploy working Pages Functions to correct _functions directory
  apps/web/package.json
Due: lint

fix: add _routes.json and update auth functions for Pages deployment
  apps/web/apps/web/public/_routes.json
  apps/web/public/_routes.json
  dist/_functions/api/auth/[[path]].js
  dist/_functions/hello.js
Due: lint

feat: update web app to use dedicated auth Worker
  apps/web/src/lib/auth-client.ts
  apps/web/src/lib/config.ts
  apps/web/workers/auth/package-lock.json
  apps/web/workers/auth/package.json
  apps/web/workers/auth/src/index.js
  apps/web/workers/auth/wrangler.toml
  workers/auth/package.json
  workers/auth/src/index.js
  workers/auth/wrangler.toml
Due: lint, typecheck

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
